<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Noob2017.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E459DD51E4D9BDC00D7C9AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E459DEE1E4D9BDC00D7C9AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E459DF91E4D9BDC00D7C9AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
